*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
RayMusicEscritorioNativo/
vivi-music/
glassy-music-nankill/
/.idea/
**/build/
Convx/
AndroidLiquidGlass/
expo-android-glass-view/
LiquidGlassKit/
Spotui/
music-os-26/
*.apk
.agents/
*.pkg
Font Apple Music/
LastWave-Native/
compose-hig/
